.card {
  width: 25vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: box-shadow 3s ease;
  cursor: pointer;
  @media screen and (width<500px) {
    width: 100vw !important;
    height: 100vw !important;
  }
}
.cardActive {
  width: 30vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: box-shadow 3s ease;
  cursor: pointer;
  @media screen and (width<500px) {
    width: 100vw !important;
    height: 100vw !important;
  }
}
@keyframes myAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    transform: scale(1.1);
  }
}
